@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-xl;
  }

}

@layer components {
  
  .btn_blues {
    @apply bg-red-900 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
  }
}



/*  we can use one class into another class by using @apply */
/* Input */
.foo {
  color: blue !important;
}

.bar {
  @apply foo;
}

/* Output */
.foo {
  color: blue !important;
}

.bar {
  color: blue;
}
/* styles.css */

@layer utilities {
  .custom-heading {
    @apply text-2xl font-bold mb-4;
  }

  .custom-button {
    @apply bg-red-500 text-white font-bold py-2 px-4 rounded;
  }
}
